.contact-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.contact-heading {
  text-align: center;
  font-size: 2.8em;
  color: #333;
  margin-bottom: 30px;
  position: relative;
}

.contact-heading::after {
  content: '';
  width: 120px;
  height: 4px;
  background-color: rgb(255, 196, 0);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

.contact-form, .contact-info {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.contact-form h2, .contact-info h2 {
  color: rgb(255, 196, 0);
  font-size: 1.8em;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #ddd;
  font-size: 1.1em;
  transition: all 0.3s ease;
}

.form-group input:focus, .form-group textarea:focus {
  border-color: rgb(255, 196, 0);
  outline: none;
  box-shadow: 0 0 10px rgba(255, 99, 71, 0.2);
}

.form-group button {
  padding: 15px 20px;
  background-color: rgb(255, 196, 0);
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: orange;
}

.contact-info p {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #555;
  margin-bottom: 10px;
}

.contact-info .map {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.phone-link {
  color: #ff9800;
  text-decoration: none;
  font-weight: bold;
}

.phone-link:hover {
  text-decoration: underline;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    text-align: center;
  }

  .contact-form, .contact-info {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .contact-heading {
    font-size: 2em;
  }

  .contact-form h2, .contact-info h2 {
    font-size: 1.5em;
  }

  .contact-form form {
    padding: 0 10px;
  }

  .form-group input, .form-group textarea {
    padding: 10px;
    font-size: 1em;
  }

  .form-group button {
    font-size: 1em;
  }

  .contact-info p {
    font-size: 1.1em;
  }
}
