.ForgotPassword-container {
    padding: 30px;
    max-width: 400px;
    margin: 50px auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  
  .ForgotPassword-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #2c3e50;
  }
  
  .ForgotPassword-container form {
    display: flex;
    flex-direction: column;
  }
  
  .ForgotPassword-container input {
    padding: 12px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  .ForgotPassword-container input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .ForgotPassword-container button {
    padding: 12px;
    background-color: rgb(255, 196, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .ForgotPassword-container button:hover {
    background-color: orange;
    transform: scale(1.05);
  }
  
  .success-message {
    margin-top: 15px;
    font-size: 1rem;
    color: #28a745;
  }
  