* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.gallery-title {
  font-size: 3em;
  margin-bottom: 40px;
  color: rgb(255, 196, 0); 
  position: relative;
}

.gallery-title::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: rgb(255, 196, 0);
  margin: 10px auto;
}

.gallery-categories {
  margin-bottom: 30px;
}

.category-btn {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(255, 196, 0);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-btn:hover {
  background-color: rgb(255, 196, 0);
}

.category-btn.active {
  background-color: #333;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 60px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .gallery-title {
      font-size: 2.5em;
  }
}

@media (max-width: 480px) {
  .gallery-title {
      font-size: 2em;
  }

  .category-btn {
      padding: 8px 15px;
  }
}
