
.menu-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.menu-heading {
  text-align: center;
  font-size: 3em;
  color: #333;
  margin-bottom: 30px;
  position: relative;
}

.menu-heading::after {
  content: '';
  width: 150px;
  height: 4px;
  background-color: rgb(255, 196, 0);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.menu-categories {
  text-align: center;
  margin-bottom: 40px;
}

.category-btn {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(255, 196, 0);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-btn:hover {
  background-color: rgb(255, 196, 0);
}

.category-btn.active {
  background-color: #333;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu-item-info {
  padding: 20px;
  text-align: center;
}

.menu-item-name {
  font-size: 1.5em;
  color: rgb(255, 196, 0);
  margin-bottom: 10px;
}

.menu-item-description {
  color: #777;
  font-size: 1em;
  margin-bottom: 15px;
}

.menu-item-price {
  font-size: 1.2em;
  color:white;
  background-color: rgb(255, 196, 0);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .menu-items {
    flex-direction: column;
    align-items: center;
    
    
  }

  .menu-item {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .menu-heading {
    font-size: 2.2em;
  }

  .category-btn {
    padding: 8px 15px;
    font-size: 0.9em;
    margin-top: 10px;
  }

  .menu-item-name {
    font-size: 1.3em;
  }

  .menu-item-description {
    font-size: 0.9em;
  }

  .menu-item-price {
    font-size: 1em;
  }
}
